ttf-clumsy/Clumsy.ttf
ttf-clumsy/OFL.txt
ttf-clumsy/Open Font License.txt
ttf-clumsy/clumsy.zip
ttf-clumsy/debian/ttf-clumsy.debhelper.log
ttf-clumsy/debian/ttf-clumsy.substvars
ttf-clumsy/debian/ttf-clumsy/
ttf-clumsy_001.000-1.dsc
ttf-clumsy_001.000-1.tar.gz
ttf-clumsy_001.000-1_all.deb
ttf-clumsy_001.000-1_i386.build
ttf-clumsy_001.000-1_i386.changes
